* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecera {
    background-image: url(../assets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: linear-gradient(to right top, #92fe9d 0%, #00c9ff 100%);
    position: relative;
    padding-bottom: 100px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.divImgIndex {
    width: 60%;
    padding-bottom: 3%;
}
.imgIndex {
    transition: transform 2s;
}

.imgIndex:hover {
    transform: scale(1.1, 1.1)
}

.divImgTelas {
    width: 60%;
}
  
.table{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.imgProductos {
    width: 50%;
    height: 50%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 2s;
}

.imgProductos:hover {
    transform: scale(1.2, 1.2)
}

.titulo {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: 'Dancing Script', cursiva;
    font-size: 40px;
    color: rgba(0, 0, 255, 0.623);
    padding: 8px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.subtitulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 25px;
    margin: 30px;
}

.centrado {
    text-align: center;
}

.margin15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.cajaFoto {
    background-color: rgba(0, 0, 255, 0.623);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.nombre {
    background-color: beige;
    text-align: center;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 232px;
}
.parrafoProductos {
    background-color: beige;
    text-align: center;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenTelas {
    width: 100%;
    margin-bottom: 10%;
    transition: transform 2s;
}

.imagenTelas:hover {
    transform: scale(1.2, 1.2);
}


.mapa {
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul li a:hover {
    color: blue;
    text-decoration: none;
}

.menu {
    font-family: 'Courgette', cursive;
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color:#000000;
    position: relative;
    margin-top:10px;
}

.menu {
    font-family: 'Courgette', cursive;
    margin-top:10px;
}

.menu::after {
    content:'';
    width: 100%;
    height:2px;
    background-color: #15fdb7;
    border-radius:4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.menu:hover::after {
    transform:scaleX(1);
}

.redesSociales {
    image-resolution: 20px;
    align-content: center;
    margin-left: 10px;
}


.icons-wrapper{
    position: relative;
    display:flex;
    justify-content: center;
    margin-top:5px;
  
}

.icons-wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.icon{
    display: inline-block;
    animation: float infinite 4s ease-in ; 

}

.ri-instagram-line{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ri-whatsapp-line{
     animation-delay: 0.6s;
}

.formulario {
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 18px;
    padding: 15px;
    color: black;
    background-color: #efb9ff;
}

.fondoForm {
    background-color: #9dcefc;
    border: 2px solid #ffffff;
}

.divMargin25px {
    margin-bottom: 25px;
}

footer {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}